name: Disk Space Cleanup Check

on: 
  # push:
  workflow_dispatch:

jobs:
  check-disk:
    runs-on: ubuntu-latest
    
    steps:
      - name: Machine information
        run: |
          echo "OS version:"
          lsb_release -a
          echo "Memory and SWAP:"
          free -mh
          echo "CPU info"
          lscpu

      - name: Initial disk space
        run: |
          echo "### Initial disk usage" >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          df -h / | grep -E "Filesystem|/" >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          df -h /

      - name: Listing some directories
        run: | 
          printf "Listing some directories\n\n"
          echo "/usr/local/lib/ :"
          du -ah --max-depth=1 /usr/local/lib/ | sort -rh 
          echo "Listing some directories"
          du -ah --max-depth=1 /usr/share/ | sort -rh

      - name: Removing extra files
        run: |
          echo "Get Android disk usage"
          du -sh /usr/local/lib/android
          echo "Removing Android"
          sudo rm -rf /usr/local/lib/android

          echo "Get Android disk usage"
          du -sh /usr/share/dotnet
          echo "Removing dotnet"
          sudo rm -rf /usr/share/dotnet
          # echo "Google Cloud SDK"
          # du -sh /usr/share/google-cloud-sdk
          # sudo rm -rf /usr/share/google-cloud-sdk

          
      - name: Final Disk Space
        run: |
          echo "### Post-Cleanup Disk Usage" >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          df -h / | grep -E "Filesystem|/" >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          df -h /

      - name: Dumb test
        run: 
          echo "2+3 = $((2+3))"